[submodule "pack/basics/start/nvim-lspconfig"]
	path = pack/basics/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/basics/start/nvim-web-devicons"]
	path = pack/basics/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/basics/start/todo-comments-nvim"]
	path = pack/basics/start/todo-comments-nvim
	url = https://github.com/folke/todo-comments.nvim.git
[submodule "pack/basics/start/lush-nvim"]
	path = pack/basics/start/lush-nvim
	url = https://github.com/rktjmp/lush.nvim.git
[submodule "pack/basics/start/lualine-nvim"]
	path = pack/basics/start/lualine-nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/basics/start/plenary-nvim"]
	path = pack/basics/start/plenary-nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/basics/start/blink-cmp"]
	path = pack/basics/start/blink-cmp
	url = https://github.com/saghen/blink.cmp.git
[submodule "pack/basics/start/frizbee"]
	path = pack/basics/start/frizbee
	url = https://github.com/saghen/frizbee.git
[submodule "pack/themes/start/melange-nvim"]
	path = pack/themes/start/melange-nvim
	url = https://github.com/savq/melange-nvim.git
[submodule "pack/themes/start/kanagawa-nvim"]
	path = pack/themes/start/kanagawa-nvim
	url = https://github.com/rebelot/kanagawa.nvim.git
[submodule "pack/basics/start/telescope"]
	path = pack/basics/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/basics/start/neo-tree-nvim"]
	path = pack/basics/start/neo-tree-nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim.git
[submodule "pack/basics/start/nui-nvim"]
	path = pack/basics/start/nui-nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "pack/basics/start/codecompanion-nvim"]
	path = pack/basics/start/codecompanion-nvim
	url = https://github.com/olimorris/codecompanion.nvim.git
[submodule "pack/basics/start/tree-sitter"]
	path = pack/basics/start/tree-sitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/basics/start/render-markdown.nvim"]
	path = pack/basics/start/render-markdown.nvim
	url = https://github.com/MeanderingProgrammer/render-markdown.nvim.git
[submodule "pack/basics/start/codecompanion-history.nvim"]
	path = pack/basics/start/codecompanion-history.nvim
	url = https://github.com/ravitemer/codecompanion-history.nvim.git
[submodule "pack/basics/start/mason.nvim"]
	path = pack/basics/start/mason.nvim
	url = https://github.com/mason-org/mason.nvim.git
[submodule "pack/basics/start/runtasks.nvim"]
	path = pack/basics/start/runtasks.nvim
	url = https://github.com/BlightedIris/runtasks.nvim.git
[submodule "pack/basics/start/nvim-window-picker"]
	path = pack/basics/start/nvim-window-picker
	url = https://github.com/s1n7ax/nvim-window-picker.git
[submodule "pack/basics/start/friendly-snippets"]
	path = pack/basics/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "pack/basics/start/mini.sessions"]
	path = pack/basics/start/mini.sessions
	url = https://github.com/nvim-mini/mini.sessions.git
[submodule "pack/basics/start/mini.surround"]
	path = pack/basics/start/mini.surround
	url = https://github.com/nvim-mini/mini.surround.git
[submodule "pack/basics/start/mini.ai"]
	path = pack/basics/start/mini.ai
	url = https://github.com/nvim-mini/mini.ai.git
[submodule "pack/basics/start/mini.align"]
	path = pack/basics/start/mini.align
	url = https://github.com/nvim-mini/mini.align.git
[submodule "pack/basics/start/mini.splitjoin"]
	path = pack/basics/start/mini.splitjoin
	url = https://github.com/nvim-mini/mini.splitjoin.git
[submodule "pack/basics/start/mini.bracketed"]
	path = pack/basics/start/mini.bracketed
	url = https://github.com/nvim-mini/mini.bracketed.git
[submodule "pack/basics/start/mini.bufremove"]
	path = pack/basics/start/mini.bufremove
	url = https://github.com/nvim-mini/mini.bufremove.git
[submodule "pack/basics/start/mason-lspconfig.nvim"]
	path = pack/basics/start/mason-lspconfig.nvim
	url = https://github.com/mason-org/mason-lspconfig.nvim.git
